/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.gmail > td:nth-child(5) {
	background-color: grey;
}

.hotmail > td:nth-child(5) {
	background-color: yellow;
}

.othermail > td:nth-child(5) {
	background-color: white;
}

.poor > td:nth-child(9) {
	background-color: red;
}

.rich > td:nth-child(9) {
	background-color: blue;
}

.free > td:nth-child(7) {
	color: green;
}

.taken > td:nth-child(7) {
	color: red;
}

.dotted > td:nth-child(4) {
	text-decoration: underline;
}

.not-dotted > td:nth-child(4) {
	text-decoration: line-through;
}

.odd > td:nth-child(1) {
	color: red;
}

.even > td:nth-child(1) {
	color: green;
}